.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 25%;
    border: solid 3px black;
    /* margin-left: 600px;
    margin-top: 50px; */
    border-radius: 8px;
}

.topic {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: 25px;
}