body {
    overflow: hidden;
    /* to hidden scroll bar */
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 25%;
    border: solid 3px black;
    /* margin-left: 600px;
    margin-top: 50px; */
    border-radius: 8px;
    padding: 10px;
}

.topic {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: 25px;
}

.txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: 20px;
}

.field {
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: solid 1px rgb(197, 196, 196);
    width: 95%;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
}

.btn {
    width: 95%;
    height: 30px;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}